<footer class="bg-light pt-3">
    <nav class="nav d-flex flex-column flex-md-row justify-content-around text-center text-md-start">
        <div>
            <ul>
                <li class="nav-link py-0">
                    <a>Mentions Légales</a>
                </li>
                <li class="nav-link py-0">
                    <a>Politique de confidentialité</a>
                </li>
                <li class="nav-link py-0">
                    <a>Conditions d'utilisation</a>
                </li>
            </ul>
        </div>
        <div>
            <ul>
                <li class="nav-link py-0 aria-controls">
                    <a>A propos</a>
                </li>
                <li class="nav-link py-0">
                    <a>Contact</a>
                </li>
                <li class="nav-link py-0">
                    <a>Plan du site</a>
                </li>
            </ul>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <ul class="d-flex flex-row align-items-center">
                <li class="nav-link">
                    <a><i class="bi bi-facebook h2" aria-label="Facebook"></i></a>
                </li>
                <li class="nav-link">
                    <a><i class="bi bi-twitter h2" aria-label="Twitter"></i></a>
                </li>
                <li class="nav-link">
                    <a><i class="bi bi-instagram h2" aria-label="Instagram"></i></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="text-center">
        <img src="assets/logo.png" class="logo" alt="logo dessine-moi-un">
        <small class="text-secondary">stop-arnaques.fr | Tous droits réservés</small>
    </div>

</footer>