<main class="container-xl mt-5">
    <h2 class="text-primary fst-italic ">Information, Prévention, Actualité, Faits de société</h2>
    <br>
    <div class="row">
        <div class="col-md-8">

            <div class="card mb-3">
                <img src="assets/influencer.jpg" class="card-img-top" alt=" influencer">
                <div class="card-body">
                    <h5 class="card-title">Tuto déscryptage fiabilité d'un site marchand</h5>
                    <p class="card-text ">Ce n'est pas parce que vous n'achetez pas via un site proposé par un
                        influenceur que
                        vous êtes à l'abri des arnaques, bien loin de là : Google regorge de sites frauduleux...</p>
                    <p class="card-text text-md-center"><small class="text-muted">Dernière mise à jour il y a 3
                            minutes</small>
                    </p>
                    <button class="btn btn-primary">Accéder</button>
                </div>
            </div>



            <div class="card mb-3">
                <img src="assets/legal.jpg" class="card-img-top" alt="legal">
                <div class="card-body">
                    <h5 class="card-title">Les réseaux sociaux, paradis de la contrefaçon</h5>
                    <p class="card-text">Les réseaux sociaux peuvent constituer le vecteur du trafic de produits de
                        contrefaçon,notamment en raison de la simplicité d’utilisation de ces réseaux...</p>
                    <p class="card-text text-md-center"><small class="text-muted">Dernière mise à jour il y a 30
                            minutes</small>
                    </p>
                    <button class="btn btn-primary">Accéder</button>
                </div>
            </div>


            <div class="card mb-3">
                <img src="assets/payment.jpg" class="card-img-top" alt="payment">
                <div class="card-body">
                    <h5 class="card-title">Des influenceurs dans le collimateur de la justice!</h5>
                    <p class="card-text font-italic">Le trading et la promotion sur les réseaux sociaux ne font pas
                        toujours bon
                        ménage. Plusieurs figures de la téléréalité
                        font l’objet de poursuites après avoir vanté les mérites de sites peu scrupuleux.</p>
                    <p class="card-text text-md-center"><small class="text-muted">Dernière mise à jour il y a 50
                            minutes</small>
                    </p>
                    <button class="btn btn-primary">Accéder</button>
                </div>
            </div>

        </div>
        <div class="col-12 col-md-4">
            <!-- col-12 permet de prendre la totalité de l'écran car valeur maximal c'est 12 -->
            <div class="card">
                <div class="card-body">
                    <h5>Peu de recours</h5>
                    <hr />
                    <p>En cas de souci avec un article ou une livraison, contactez le vendeur qui a encaissé
                        le paiement, par e-mail ou sur les
                        réseaux sociaux, ou envoyez-lui un courrier recommandé avec AR. Toutefois, sachez que les
                        recours contre
                        les sites de
                        dropshipping sont très aléatoires, tant ils restent difficiles à repérer ou mettent vite la clé
                        sous la
                        porte. Vous
                        pouvez passer par l’influenceur ou son agence, mais engager leur responsabilité s’avère malaisé.
                        En
                        dernier recours,
                        joignez votre banque, l’éditeur de votre carte bancaire ou PayPal. Parfois, des remboursements
                        sont
                        proposés. Enfin,
                        signalez le litige à la Direction départementale de la protection des populations (DDPP) dont
                        dépend le
                        siège du
                        cybermarchand, ainsi que sur Signal.conso.gouv.fr. Le mieux reste de ne pas se fier aux vendeurs
                        mal
                        identifiés.
                    </p>
                </div>
            </div>

            <br>

            <div class="card">
                <div class="card-body ">
                    <h5>Des produits dangereux et des services douteux</h5>
                    <hr />
                    <p>Par appât du gain, certains influenceurs n’ont aucun scrupule à faire la publicité d’articles
                        contrefaisants ou de
                        produits potentiellement dangereux, voire illégaux, tels que les masques anti-covid aux couleurs
                        de Louis
                        Vuitton vantés
                        par SebyDaddy. D’autres vous promettent que vous gagnerez beaucoup d’argent en pariant ou en
                        investissant
                        dans des
                        placements financiers douteux sans mentionner les risques, ni s’inquiéter du fait qu’il peut
                        s’agir
                        d’arnaques, comme le
                        fait AD Laurent avec son astuce qui assurerait, selon lui, un rendement « de 20 à 35 % par mois
                        très
                        facilement ».
                    </p>
                </div>
            </div>

            <br>
            <div class="card">
                <div class="card-body ">

                    <h5>Le trading et la promotion sur les réseaux sociaux ne font pas toujours bon ménage</h5>
                    <hr />
                    <p>Selon le journal Le Monde, un groupe d’influenceurs basés à Dubaï est la cible d’une enquête
                        menée par le
                        parquet de
                        Paris, l’Autorité des marchés financiers (AMF) et la Direction générale de la concurrence, de la
                        consommation et de la
                        répression des fraudes (DGCCRF). Il leur est reproché d’inciter les membres de leur communauté à
                        placer
                        leur argent dans
                        des produits financiers sans en indiquer les risques. C’est le cas entre autres de Laurent «
                        Billionnaire
                        » accusé
                        d’avoir fait la promotion d’un site de trading en dépit de la loi Sapin 2 de décembre 2016 qui
                        interdit la
                        publicité
                        pour des produits financiers complexes. Le profil de cet influenceur a été supprimé du réseau
                        social
                        Snapchat alors
                        qu’il comptait plusieurs millions d’abonnés, mais il n’est pas à l’abri de sanctions
                        supplémentaires.
                        D’autres
                        influenceuses, comme Milla Jasmine ou Maeva Ghennam, ont vu leur compte Instagram momentanément
                        suspendu
                        ces derniers jours.
                    </p>
                </div>
            </div>
            <br>

            <div class="card">
                <div class="card-body">
                    <h5>Le dropshipping ou quand les influenceurs flirtent avec l’arnaque</h5>
                    <hr />
                    <div class="ratio ratio-16x9">
                        <iframe src="https://www.youtube.com/embed/NwWK27jM4q4" title="YouTube video player"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>