<h2 class="text-primary ">Tout ce qu'il faut savoir pour obtenir réparation rapidement</h2>


<br>

<div class="row">
    <div class="col-md-12">

        <div class="card mb-3">
            <img src="assets/ampoule.jpg" class="card-img-top" alt=" influencer">
            <div class="card-body">

                <h5 class="card-title display-5">
                    Nos 10 conseils
                </h5>
                <p class="card-text ">
                    Avant de passer commande, vérifiez la renommée du site et la qualité réelle
                    des
                    articles, notamment en consultant les
                    avis sur Internet. Méfiez-vous en particulier des plateformes vantées par les starlettes de la
                    téléréalité. Des solutions comme AntiDrop ou Captain Drop permettent d’évaluer le risque qu’un
                    webmarchand
                    pratique le dropshipping.
                </p>

                <a href="download/acme-doc-2.0.1.txt" download="Acme Documentation (ver. 2.0.1).txt">Télécharger nos
                    conseils</a>
                <p class="card-text text-md-center"><small class="text-muted"></small>

            </div>
        </div>



        <div class="card mb-3">
            <img src="assets/conseils2.png" class="card-img-top" alt="legal">
            <div class="card-body">

                <h5 class="card-title display-5">
                    Lettre de réclamation pour marchandise non conforme
                </h5>
                <p class="card-text">

                    Si l’article reçu ne correspond pas à la commande, il faut faire jouer la -->
                    garantie
                    légale de conformité. D’une durée de
                    2 ans minimum pour tout achat en France ou dans l’Union européenne, elle permet de demander
                    gratuitement
                    au vendeur
                    l’échange ou la réparation du bien, ou si cela s’avère impossible, le remboursement des sommes
                    versées. Ce
                    dernier devra
                    prendre en charge les frais de retour de la commande erronée et ceux de la nouvelle livraison.
                </p>
                <a href="download/acme-doc-2.0.1.txt" download="Acme Documentation (ver. 2.0.1).txt">Télécharger nos
                    conseils</a>
                <p class="card-text text-md-center"><small class="text-muted"></small>
            </div>
        </div>


        <div class="card mb-3">
            <img src="assets/conseils1.png" class="card-img-top" alt=".payment">
            <div class="card-body">

                <h5 class="card-title display-5">
                    Lettre de réclamation pour non livraison
                </h5>
                <p class="card-text">
                    Comment obtenir réparation ?
                    Une fois votre commande annulée, le professionnel doit vous rembourser, au plus tard, dans les
                    quatorze
                    jours suivant
                    la dénonciation du contrat.
                    Si le professionnel ne respecte pas cette échéance fixée par la loi, la somme est
                    automatiquement majorée
                    de 10 % si le
                    remboursement intervient, au plus tard, trente jours après ce terme, de 20 % en cas de
                    remboursement, au
                    plus tard,soixante jours après ce terme, et 50 % ultérieurement (article L. 241-4 du Code de la
                    consommation).
                </p>
                <button class="btn btn-primary"><a class="text-white" href="download/acme-doc-2.0.1.txt"
                        download="Acme Documentation (ver. 2.0.1).txt">Télécharger la lettre type</a></button>
                <p class="card-text text-md-center"><small class="text-muted"></small>
            </div>
        </div>
    </div>
</div>