<div class="container at-5">
    <h1 class="text-primary">Contactez-moi</h1>
    <form [formGroup]="contactMe" (ngSubmit)="onSubmit()" class="mt-5 col-md-6 m-auto">

        <!-- <form action="" method="post" class="row g-3" style="font-size: medium; margin-top: 10px;" method="post"> -->
        <div class="col-md-12">
            <label for="firstname" class="form-label">Prénom*</label>
            <input type="text" class="form-control" id="firstName" required>
        </div>
        <div class="col-md-12">
            <label for="lastname" class="form-label">Nom*</label>
            <input type="text" class="form-control" id="lastName" required>
        </div>
        <div class="col-md-12">
            <label for="emailInfo" class="form-label">E-mail*</label>
            <input type="email" class="form-control" id="emailInfo" required>
        </div>
        <div class="col-md-12">
            <label for="comments" class="form-label">Votre message*</label>
            <textarea class=" form-control" id="message" rows="3" required></textarea>
        </div>
        <div class="col-md-12">
            <button onclick="check();" class="btn btn-primary mt-3 ">Envoyez</button>
            <button type="reset" class="btn btn-primary mt-3 ms-2">Effacer</button>

        </div>
    </form>


</div>